<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <title>User Git profile </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../../css/thvsjsp.css" th:href="@{/css/thvsjsp.css}"/>
</head>

<body>

<h2>Profile</h2>

    <fieldset>
        <div id="userArea">
            <table>
                <tbody>
                    <tr>
                        <td>Login:</td>
                        <td th:text="${data.username}"></td>
                    </tr>
                    <tr>
                        <td>Website:</td>
                        <td th:text="${data.usersWebsite}"></td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div id="reposArea" th:if="${data.repos != null}" >

            <table>
                <tbody>
                    <tr><td><b>Repository listing:</b></td><tr>
                    <tr><td>Total:</td><td th:text="${data.countRepos}"/></tr>
                    <tr th:each="repo : ${data.repos}">
                        <td th:text="${repo.name}"></td>
                        <td th:text="${repo.url}"></td>
                        <td th:text="${repo.description}"></td>
                    </tr>

                </tbody>
            </table>
        </div>


        <div id="languagesArea">

            <table>
                <tbody>
                    <tr><td><b>Language ratios:</b></td><tr>

                    <tr th:each="lang : ${data.languages}">
                        <td th:text="${lang.name}"></td>
                        <td th:text="${lang.value}"></td>
                    </tr>

                </tbody>
            </table>
        </div>

        <div id="buildEnvs">

            <table>
                <tbody>
                    <tr><td><b>Build environments:</b></td><tr>

                    <tr th:each="env : ${data.buildEnvironments}">
                        <td th:text="${env.name}"></td>
                        <td th:text="${env.count}"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="timeStats">
            <table>
                <tbody>
                    <tr>
                        <td>Project average duration:</td>
                        <td th:text="${data.avgProjectDuration}"></td>
                    </tr>

                </tbody>
            </table>

        </div>
    </fieldset>
</body>

</html>   