<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Git search ...</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../../css/thvsjsp.css" th:href="@{/css/thvsjsp.css}"/>
</head>

<body>

<h2>This is a Thymeleaf template</h2>

<form name="search_form" action="#" th:object="${search}" th:action="@{/profile}" th:method="POST">

    <fieldset>

        <div>
            <input type="text" name="usernameTxt" id="usernameTxt" />
        </div>

        <div class="submit">
            <input type="submit" name="saveBtn" id="saveBtn" value="Search!" />
        </div>

    </fieldset>

</form>

</body>

</html>