<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Git search ...</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../../css/thvsjsp.css" th:href="@{/css/thvsjsp.css}"/>
</head>

<body>

<h2>Search for git users</h2>

<form name="search_form" action="#" th:object="${search}" th:action="@{/profile}" th:method="POST">

    <fieldset>

        <div>
            <fieldset>

                <input type="text" name="usernameTxt" id="usernameTxt" />

                <label for="repositories">Show repositories</label>
                <input type="checkbox" id="repositories" name="repositories" value="true" checked />
                <label for="repositories">Show language ratios</label>
                <input  id="languageRatios" name="languageRatios" type="checkbox" checked value="true"/>
            </fieldset>
        </div>

        <div class="submit">
            <input type="submit" name="saveBtn" id="saveBtn" value="Search!" />
        </div>

    </fieldset>

</form>

</body>

</html>